
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root{
    --main-color: #ff2c1f;
    --text-color: #020307;
    --bg-color: #fff;
}

section{
    padding: 4.5rem 0 1.5rem;
}

body{
    background: var(--text-color);
    color: var(--bg-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
}
.logo{
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.logo.bx{
    font-size: 30px;
    color: var(--main-color);
}
.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
     font-size: 20px;
     font-weight: 500;
     color: var(--bg-color);
}
.navbar a::after{
    content: '';
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after,
.navbat .home-active::after {
    width: 100%;   
}
#menu-icon{
    font-size: 24px;
    cursor:pointer;
    z-index: 1000001;
    display: none;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover{
   background: white;
   color: #ff2c1f; 
}
.heading{
     max-width: 968px;
     margin-left: auto;
     margin-right: auto;
     font-size: 1.2rem;
     font-weight: 500;
     text-transform: uppercase;
     border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 305px;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box .box-img img:hover{
    transform: translateY(-15px);
    transition: .2s all linear;
    border: 1px solid rgb(80, 76, 76);
    box-shadow: 6px 10px rgb(117, 116, 116, 0.4);
}
.box h3{
    font-size: 0,10rem;
    padding-top: 13px;
    font-style: italic;

}
.box span{
    font-size: 13px;
}
.image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}   
.image{
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(2, 3, 7, 0.4);
}
.img-text{
    z-index: 1000;
    padding: 0 280px;
}
.img-text span{
    color: var(--bg-color);
    font-weight: 500;
    text-transform: uppercase;
    font-style: oblique;
}
.img-text h1{
    color: var(--bg-color);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    font-style:oblique;
}
